.header {
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #90a4ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

.btn {
  background-color: #90a4ae !important;
  color: black;
}

.btn:hover {
  background-color: #bbdefb !important;
}

.HomePage {
  margin-top: 8vh;
  padding-top: 2vh;
  height: 92vh;
}